:root {
	--purple: #8123AB;
	--lightpurple: #c78ddf;
	--green: #34885B;
	--lightgreen: #74ca9c;
	--fcolor: #3C374D;
	--bground: #F0F3F9;
  }

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.center_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center_flex_col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}